# MySQL Root Password
MYSQL_ROOT_PASSWORD=SuperSecr3t_RootP@ssw0rd!2026

# MySQL Database & User Configuration
MYSQL_DATABASE=lms_school_db
MYSQL_USER=lms_user
MYSQL_PASSWORD=Lms_Stud3nt_S3curePass#2026

# App Port
PORT=3000
